################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/backend/KHN/.vs/KHN
/backend/KHN/KHN.API/obj
